{% extends "layout.html" %}
{% block head_script %}
    <script type="application/javascript">
    $(document).ready(function(){
        $.fn.serializeObject = function()
        {
          var o = {};
          var a = this.serializeArray();
          $.each(a, function() {
            if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
            } else {
              o[this.name] = this.value || '';
            }
          });
          return o;
        };

        $('[name="type"]').change(function() {
          currentType = $(this).val();
          isScheduled = currentType === "SCHEDULED_JOB";
          $('[name="event_name"]').prop("disabled", isScheduled).val(function(i, currentVal){return isScheduled ? "" : currentVal});
          $('[name="scheduler"]').prop("disabled", !isScheduled).val(function(i, currentVal){return !isScheduled ? "" : currentVal});
        }).change();

        var method = {% if is_edit %} "PUT" {% else %} "POST" {% endif %}
        var urlSuffix = {% if is_edit %} "/" + {{ job.id }} {% else %} "" {% endif %}
        $("#send-data").click(function(){
            $.ajax({
              type : method,
              url : "/job" + urlSuffix,
              contentType : "application/json",
              data : JSON.stringify($('#job-details').serializeObject()),
              dataType: "json",
              success: function(data) {
                  alert("Saved successfully!");
              },
              error: function (xhr, status, error) {
                  alert("Failed :" + error)
              }
            });
        });
    });
    </script>
{% endblock %}
{% block title %}{% if not is_edit %}Create {% else %}Edit {% endif %} {% endblock %}
{% block content %}
     <h3>Job Information</h3>
     <form id="job-details">
     Job Name<br>
     <input type = "text" name = "name" {% if is_edit %} value = "{{ job.name }}" {% endif %} /></br>

     Job Type<br>
     <select name="type">
         {% for job_type in JobType %}
         <option value="{{ job_type.name }}" {% if is_edit and job_type.name == job.type %} selected {% endif %}> {{ job_type.value }}</option>
         {% endfor %}
     </select><br>

     Priority<br>
     <input type = "text" name = "priority" {% if is_edit %} value = "{{ job.priority }}" {% endif %}/><br>

     Job Parameters<br>
     <input type = "text" name = "params" {% if is_edit %} value = "{{ job.params }}" {% endif %}/><br>

     Event Name<br>
     <input type = "text" name = "event_name" {% if is_edit %} value = "{{ job.event_name }}" {% endif %}/><br>

     Scheduler<br>
     <input type = "text" name = "scheduler" {% if is_edit %} value = "{{ job.scheduler }}" {% endif %}/><br>
     </form>

     <button id="send-data">Create Job</button><br>
{% endblock %}